.primary {
  border: none;
  border-radius: 999px;
  color: var(--color-white);
  background-color: var(--color-moderate-cyan);
  padding: 1.8rem 4rem;
  cursor: pointer;
  font-weight: 700;

  &:hover {
    background-color: var(--color-dark-cyan);
  }

  &.disabled {
    background-color: var(--color-dark-gray);
    cursor: not-allowed;
  }
}
