:root {
  --color-moderate-cyan: #3cb4ac;
  --color-dark-cyan: #147b74;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-light-gray: #fafafa;
  --color-medium-gray: #f0f0f0;
  --color-dark-gray: #7a7a7a;
}
